<ion-header>
    <ion-toolbar>
      <div class="title-block">
        <ion-menu-button></ion-menu-button>
        <h4 class="page-title">Чат</h4>
      </div>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="main">
    <div class="chat-box">
        <div class="message-area">
          <div class="message" *ngFor="let chat of chats">
          <img src="{{ chat.from.image ? chat.from.image : '../../../assets/img/no-photo.png' }}">
            <div class="message-text">
                <p>{{ chat.message }}</p>
                <span class="name">{{ chat.from.surname +' '+ chat.from.name}}</span>
<!--                <span class="time">вчера, 11:45 </span>-->
            </div>
          </div>
        </div>
        <div class="emo-area">
          <!-- emoji-panel component comes here -->
        </div>
        <div class="input-area">
          <form>
            <ion-input type="text" [(ngModel)]="message" name="message" id="message" placeholder="Сообщение..."></ion-input>
            <button>
              <ion-icon (click)="sendMessage()" name="send"></ion-icon>
            </button>
          </form>
        </div>
    </div>
  </div>
</ion-content>
