<ion-header>
    <ion-toolbar>
      <div class="title-block">
          <ion-menu-button></ion-menu-button>
            <h4 class="page-title" *ngIf="group">{{ group.name }}</h4>
      </div> 
    </ion-toolbar>
  </ion-header>

<ion-content class="group" *ngIf="group">
  <div class="content-all">
  <form class="teachers">
    <label>Преподаватели</label>
    <ul class="photos">
      <li *ngFor="let teacher of group.teachers">
         <img src="{{ teacher.image }}">
      </li>
    </ul>
  </form>
  <ul class="student-list">
    <li *ngFor="let student of group.students">
        <div class="left">
          <p class="name">
              {{ student.id }}
              <img src="{{ student.image }}"><i *ngIf="student.image === null" class="fa fa-user">{{student.surname[0]}}</i>
              {{ student.surname +' '+ student.name}}
          </p>
        </div>
        <div class="right">
          <button class="message-btn"></button>
        </div>
    </li>
  </ul>
</div>
</ion-content>
