<ion-header>
    <ion-toolbar>
      <div class="title-block">
          <ion-menu-button></ion-menu-button>
            <h4 class="page-title">Группы</h4>
      </div> 
    </ion-toolbar>
</ion-header>

<ion-content class="groups">
  <div class="content-all">
  <form class="search">
    <input type="search" placeholder="Поиск" [(ngModel)]="name" name="name" (change)="filterGroupsData()">
    <button class="search-btn">
    </button>
  </form>
  <div *ngIf="groups">
    <ul class="groups-list" *ngFor="let group of groups">
      <li>
        <a [routerLink]="['/group/'+ group.id]">
          <div class="left">
            <h4>{{ group.name }}</h4>
            <p class="name">{{ group.course.name }}</p>
          </div>
          <div class="right">
            <button class="next-btn"></button>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="groups === null">no content</p>
</div>
</ion-content>
