<ion-header>
  <ion-toolbar>
    <div class="title-block">
      <ion-menu-button></ion-menu-button>
      <h4 class="page-title">Сменить пароль</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <ul>
      <li>
        <div class="top">
          <span class="label">Старый пароль</span>
        </div>
        <input type="password" name="old_password" formControlName="old_password">
        <span *ngIf="!oldPasswordValid">Пароль не верен</span>
      </li>
      <li>
        <div class="top">
          <span class="label">Новый пароль</span>
        </div>
        <input type="password" name="password" formControlName="password">
      </li>
      <li>
        <div class="top">
          <span class="label">Подтверждение пароля</span>
        </div>
        <input type="password" name="password_confirmation" formControlName="password_confirmation">
        <span *ngIf="!passwordConfirmation">Пароль не совподает</span>
      </li>
    </ul>
    <button type="button">Назад</button>
    <button type="submit" expand="full" color="primary">Сохранить</button>
  </form>
</ion-content>
