<ion-header>
  <ion-toolbar>
    <div class="title-block">
        <ion-menu-button></ion-menu-button>
          <h4 class="page-title">Расписание</h4>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- tab расписание -->
    <div class="content-all">
    <form class="schedule-form">
        <ion-datetime display-format="MMM/ DD/ YYYY" [(ngModel)]="date" name="date" (ionChange)="getFilteredLessons()"></ion-datetime>
        <button class="schedule-btn" (ionChange)="getFilteredLessons()"></button>
    </form>
    <ul *ngIf="lessons != null && lessons.length != 0" class="schedule-list">
      <!-- класс active текущий, класс next следующий -->
      <li class="{{ getClassName(lesson.lesson_time_index) }}" *ngFor="let lesson of lessons">
        <a [routerLink]="['/lesson/'+ lesson.id]">
          <div class="left">
            <span class="time">{{ lesson.lesson_time }}</span>
            <h4 class="date">{{ getDateString(lesson.lesson_date) }}</h4>
          </div>
          <div class="right">
            <p class="room">{{ lesson.room }}</p>
            <p class="group">{{ lesson.group.name }}</p>
          </div>
        </a>
      </li>
    </ul>
    <p *ngIf="lessons == null || lessons.length == 0">no content</p>
  </div>
</ion-content>
