<ion-header>
  <ion-toolbar>
    <div class="title-block">
      <ion-menu-button></ion-menu-button>
      <h4 class="page-title">Igra</h4>
      <button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="lessons" class="homework">
  <div class="content-all">
  <h3>Домашняя задания</h3>
  <ul>
    <li *ngFor="let lesson of lessons" [class]="lesson.active ? '' : ''">
      <a target="_blank" [href]="lesson.homework.file">
        <div class="left">
            <h5>{{ lesson.homework.name }}</h5>
        </div>
            <p class="date">{{ lesson.date }}</p>
            <p class="name">{{ lesson.teacher.surname +' '+ lesson.teacher.name }}</p>
      </a>
    </li>
  </ul>
</div>
</ion-content>
