.profile-tab{
    .content-white{
        background: #fff !important;
    }
    .info{
        padding: 20px 20px 20px 50px;
        li{
            padding: 30px 0 0 0;
            border-bottom: 1px solid #ECEFF1;
            .top{
                position: relative;
                .label{
                    color: #C6C6C6;
                    font-size: 12px;
                }
                .value{
                    font-size: 15px;
                    margin: 0;
                    font-weight: 600;
                }
                &:after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-size: contain;
                    width: 39px;
                    height: 38px;
                }

            }
            p{
                font-size: 6px;
            }
            &:nth-of-type(1){
                .top{
                    &:after{
                        background: url(../../../assets/img/chat.PNG) no-repeat center center;
                    }
                }
            }
            &:nth-of-type(2){
                .top{
                    &:after{
                        background: url(../../../assets/img/message.PNG) no-repeat center center;
                    }
                }
            }
            &:nth-of-type(3){
                .top{
                    &:after{
                        background: url(../../../assets/img/phone.PNG) no-repeat center center;
                    }
                }
            }
            &:nth-of-type(4){
                .top{
                    &:after{
                        background: url(../../../assets/img/staj.PNG) no-repeat center center;
                    }
                }
            }
            &:nth-of-type(5){
                .top{
                    &:after{
                        background: url(../../../assets/img/teacher-icon.PNG) no-repeat center center;
                    }
                }
            }
        }
    }
}
