<ion-header>
    <ion-toolbar>
      <div class="title-block">
          <ion-menu-button></ion-menu-button>
            <h4 class="page-title">Igra</h4>
            <button class="logout-btn" (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </button>
      </div> 
    </ion-toolbar>
</ion-header>

<ion-content class="home">

  <div class="content-all">
    <h3>Репертуары</h3>
    <ul class="spectacle-list">
      <li>
        <a href="#">
          <div class="date">12 август</div>
          <div class="right">
            <h4>Богемская рапсодия</h4>
            <span class="room">малый зал</span>
            <span class="time">12:00</span>
          </div>
        </a>
      </li>
      <li><a href="#">
          <div class="date">12 август</div>
          <div class="right">
            <h4>Богемская рапсодия</h4>
            <span class="room">малый зал</span>
            <span class="time">11:00</span>
          </div>
      </a></li>
      <li><a href="#">
          <div class="date">12 август</div>
          <div class="right">
            <h4>Богемская рапсодия</h4>
            <span class="room">малый зал</span>
            <span class="time">15:00</span>
          </div>
      </a></li>
      <li><a href="#">
          <div class="date">12 август</div>
          <div class="right">
            <h4>Богемская рапсодия</h4>
            <span class="room">малый зал</span>
            <span class="time">13:00</span>
          </div>
      </a></li>
    </ul>

    <h3>Новости</h3>
    <ul class="news-list">
      <li>
        <a href="#">
          <div class="spec-img">
            <img src="../../../assets/img/profile-bg.png">
          </div>
          <div class="right">
            <h4>Актерская школа</h4>
            <p>Профессия «актер» для многих любителей театра и кино навсегда останется светлой мечтой..</p>
            <button class="more-btn">Подробнее</button>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="spec-img">
            <img src="../../../assets/img/profile-bg.png">
          </div>
          <div class="right">
            <h4>Актерская школа</h4>
            <p>Профессия «актер» для многих любителей театра и кино навсегда останется светлой мечтой..</p>
            <button class="more-btn">Подробнее</button>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="spec-img">
            <img src="../../../assets/img/profile-bg.png">
          </div>
          <div class="right">
            <h4>Актерская школа</h4>
            <p>Профессия «актер» для многих любителей театра и кино навсегда останется светлой мечтой..</p>
            <button class="more-btn">Подробнее</button>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="spec-img">
            <img src="../../../assets/img/profile-bg.png">
          </div>
          <div class="right">
            <h4>Актерская школа</h4>
            <p>Профессия «актер» для многих любителей театра и кино навсегда останется светлой мечтой..</p>
            <button class="more-btn">Подробнее</button>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>

</ion-content>
