<ion-header>
    <ion-toolbar>
      <div class="title-block">
          <ion-menu-button></ion-menu-button>
            <h4 class="page-title">Igray.kz</h4>
            <button class="logout-btn" (click)="logout()">
              <ion-icon name="person"></ion-icon>
            </button>
      </div> 
    </ion-toolbar>
  </ion-header>

<ion-content padding>

<!--  <p>{{ user['email'] }}</p>-->

  <ion-button expand="full" (click)="loadUserInfo()">Load User Info</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>

</ion-content>
