<ion-header>
  <ion-toolbar>
     <div class="title-block">Актерская школа "Игра"</div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()" class="form">
    <div class="logo">
      <img src="../../../assets/img/logo_white.png">
    </div>
    <ion-item>
      <input type="email" name="email" placeholder="Логин"/>
    </ion-item>

    <ion-item>
      <input type="password" name="password" placeholder="Пароль"/>
    </ion-item>

    <button type="submit" expand="full" color="primary" class="btn">Войти</button>
  </form>
</ion-content>
