<ion-header>
  <ion-toolbar>
     <div class="title-block">
      <h4 class="page-title">Актерская школа "Игра"</h4> 
      </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()" class="form">
    <div class="logo">
      <img src="../../../assets/img/logo_white.png">
    </div>
    <ion-item>
      <input type="email" name="email" formControlName="email" placeholder="Логин"/>
    </ion-item>

    <ion-item>
      <input type="password" name="password" formControlName="password" placeholder="Пароль"/>
    </ion-item>
<!--    <ion-button expand="full" type="submit" color="primary" class="btn" [disabled]="!credentialsForm.valid">Login</ion-button>-->

    <button type="submit" expand="full" color="primary" class="btn" [disabled]="!credentialsForm.valid">Войти</button>
  </form>
</ion-content>
