<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content *ngIf="isAuthenticated()">
        <div class="content">
          <ion-list>
              <div class="avatar">
                  <img src="../assets/img/avatar-bg.png" class="avatar-img">
                  <div class="avatar-bg">
                    <img src="../assets/img/avatar-bg.png">
                  </div>
                  <h3 class="name">Teacher Teacherov</h3>
                    <a href="#" class="avatar-email">teacherschool@gmail.com</a>
              </div>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appMenus">
              <ion-item *ngIf="user && p.roles.indexOf(user.role.name) !== -1" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item [routerDirection]="'root'" href="/logout" class="log_out">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>
                Выйти
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
