<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content *ngIf="isAuthenticated()">
        <div class="content">
          <ion-list>
              <div *ngIf="user" class="avatar">
                  <div class="avatar-img"> <img src="{{ user.image ? user.image : '../../../assets/img/no-photo.png' }}"></div>
                  <div class="avatar-bg">
                    <img src="{{ user.image ? user.image : '../../../assets/img/no-photo.png' }}">
                  </div>
                  <h3 class="name">{{ user.surname +' '+ user.name }}</h3>
                    <a href="#" class="avatar-email">teacherschool@gmail.com</a>
              </div>
            <ion-menu-toggle auto-hide="false">
              <div *ngFor="let p of appMenus">
                <ion-item *ngIf="user && p.roles.indexOf(user.role.name) !== -1" [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </div>
              <ion-item (click)="logout()" class="log_out">
                <ion-icon slot="start" name="exit"></ion-icon>
                <ion-label>
                  Выйти
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
