<ion-header>
  <ion-toolbar>
    <div class="title-block">
      <ion-menu-button></ion-menu-button>
      <h4 class="page-title">Преподаватели</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="teachers">
  <div class="content-all">
    <form class="search">
        <input type="search" placeholder="Поиск" [(ngModel)]="name" name="name" (change)="filterTeachersData()">
        <button class="search-btn">
        </button>
      </form>
      <ul *ngIf="teachers != null && teachers.length != 0" class="teachers-list">
        <li *ngFor="let teacher of teachers">
          <a href="#">
            <div class="left">
              <div class="teacher-img">
                <img src="{{ teacher.image ? teacher.image : '../../../assets/img/no-photo.png' }}">
              </div>
              <p class="name">{{ teacher.surname +' '+ teacher.name }}</p>
            </div>
            <div class="right">
              <button class="message-btn"></button>
            </div>
          </a>
        </li>
      </ul>
      <p *ngIf="teachers == null || teachers.length == 0">no content</p>
    </div>
</ion-content>
