<ion-header>
  <ion-toolbar>
    <div class="title-block">
      <ion-menu-button></ion-menu-button>
      <h4 class="page-title">Преподаватели</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="teachers">
  <div class="content-all">
    <form class="search">
        <input type="search" placeholder="Поиск">
        <button class="search-btn">
        </button>
      </form>
<!--      <ul class="teachers-list">-->
<!--        <li><a href="#">-->
<!--          <div class="left">-->
<!--            <div class="teacher-img">-->
<!--                <img src="../../../assets/img/teacher.png">-->
<!--            </div>-->
<!--            <p class="name">Далер Кузяев</p>-->
<!--          </div>-->
<!--          <div class="right">-->
<!--            <button class="message-btn"></button>-->
<!--          </div>-->
<!--        </a></li>-->
<!--        <li><a href="#">-->
<!--            <div class="left">-->
<!--                <div class="teacher-img">-->
<!--                    <img src="../../../assets/img/teacher.png">-->
<!--                </div>-->
<!--                <p class="name">Далер Кузяев</p>-->
<!--              </div>-->
<!--              <div class="right">-->
<!--                <button class="message-btn"></button>-->
<!--              </div>-->
<!--        </a></li>-->
<!--        <li><a href="#">-->
<!--            <div class="left">-->
<!--                <div class="teacher-img">-->
<!--                  <img src="../../../assets/img/teacher.png">-->
<!--                </div>-->
<!--                <p class="name">Далер Кузяев</p>-->
<!--              </div>-->
<!--              <div class="right">-->
<!--                <button class="message-btn"></button>-->
<!--              </div>-->
<!--        </a></li>-->
<!--        <li><a href="#">-->
<!--            <div class="left">-->
<!--                <div class="teacher-img">-->
<!--                    <img src="../../../assets/img/teacher.png">-->
<!--                </div>-->
<!--                <p class="name">Далер Кузяев</p>-->
<!--              </div>-->
<!--              <div class="right">-->
<!--                <button class="message-btn"></button>-->
<!--              </div>-->
<!--        </a></li>-->
<!--        <li><a href="#">-->
<!--            <div class="left">-->
<!--                <div class="teacher-img">-->
<!--                    <img src="../../../assets/img/teacher.png">-->
<!--                </div>-->
<!--                <p class="name">Далер Кузяев</p>-->
<!--              </div>-->
<!--              <div class="right">-->
<!--                <button class="message-btn"></button>-->
<!--              </div>-->
<!--        </a></li>-->
<!--      </ul>-->
      <p>no content</p>
    </div>
</ion-content>
