<ion-content overflow-scroll="true" class="finance-tab">
    <div class="content-white">
      <ul class="finance-list">
        <li class="lessons">
          <div class="left">
                <div class="pie-wrapper progress-80 style-2">
                    <span class="label">80<span class="smaller">%</span></span>
                    <div class="pie lesson">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div>
                    <div class="shadow"></div>
                  </div>
          </div>
          <div class="right">
              <h4>Количество проведенных<br>
                уроков</h4>
                <p>Любому начинающему актеру необходим свой ориентир, пример для подражания. В отличие от времен Станиславского, сейчас в нашем распоряжении огромное количество разнообразных примеров отечественного и </p>
          </div>
        </li>
        <li class="bonuses">
          <div class="left">
              <div class="pie-wrapper progress-40 style-2">
                  <span class="label">40<span class="smaller">%</span></span>
                  <div class="pie bonus">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                  </div>
                  <div class="shadow"></div>
                </div>
          </div>
          <div class="right">
            <h4>Бонусы</h4>
              <p>Любому начинающему актеру необходим свой ориентир, пример для подражания. В отличие от времен Станиславского, сейчас в нашем распоряжении огромное количество разнообразных примеров отечественного и </p>
            </div>
          </li>
        <li class="fines">
          <div class="left">
              <div class="pie-wrapper progress-60 style-2">
                  <span class="label">60<span class="smaller">%</span></span>
                  <div class="pie fine">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                  </div>
                  <div class="shadow"></div>
                </div>
          </div>
          <div class="right">
            <h4>Штрафы</h4>
              <p>Любому начинающему актеру необходим свой ориентир, пример для подражания. В отличие от времен Станиславского, сейчас в нашем распоряжении огромное количество разнообразных примеров отечественного и </p>
            </div>
          </li>
      </ul>

      <div class="total-price">
        <p>Итоговая сумма:</p>
        <h6>120 000</h6><span>₸</span>
      </div>
    </div>
</ion-content>
