<ion-header>
    <ion-toolbar>
      <div class="title-block">
          <ion-menu-button></ion-menu-button>
            <h4 class="page-title">Посещаемость</h4>
      </div> 
    </ion-toolbar>
  </ion-header>

<ion-content class="attendance">
  <div *ngIf="lesson" class="content-all">
    <ul class="lesson">
      <li>
          <p class="date">{{ getDateString(lesson.lesson_date) }}</p><span class="time">{{ lesson.lesson_time }}</span>
      </li>
      <li>
          <img *ngIf="lesson.teacher.image" src="{{ lesson.teacher.image }}" class="teacher-img">
          <p class="teacher-name">{{ lesson.teacher.surname +' '+ lesson.teacher.name }}</p>
      </li>
    </ul>
    <h3>Посещаемость</h3>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <ul class="student-list">
        <li *ngFor="let att of attendance; let i = index">
          <div class="left">
            {{ i+1 +' ' }}
            <img *ngIf="att.student.image" src="{{ att.student.image }}">
            <p class="name">{{ att.student.surname +' '+ att.student.name }}</p>
          </div>
          <div class="right">
            <input type="checkbox" [formControlName]="att.student.id" value="{{ att.is_exist }}">
          </div>
        </li>
      </ul>
      <div *ngIf="user.role.name === 'admin'">
        <div class="bottom">
          <h4>Бонусы</h4>
          <div class="one-line">
            <label>Проведение занятий по учебной программе</label>
            <input type="checkbox">
          </div>
        </div>
        <div class="bottom">
          <h4>Штрафы</h4>
          <div class="one-line">
            <label>Штраф за опаздание</label>
            <input type="checkbox">
          </div>
          <div class="one-line">
            <label>Завершение занятия позже</label>
            <input type="checkbox">
          </div>
        </div>
      </div>
      <button type="submit" class="save-btn">Сохранить</button>
    </form>
  </div>
</ion-content>
