<ion-header>
    <ion-toolbar>
      <div class="title-block">
          <ion-menu-button></ion-menu-button>
            <h4 class="page-title">Посещаемость</h4>
      </div> 
    </ion-toolbar>
  </ion-header>

<ion-content class="attendance">
  <div class="content-all">
  <h3>Посещаемость</h3>
  <ul class="student-list">
    <li>
      <div class="left">
        <img src="../../../assets/img/teacher-1.png">
        <p class="name">Арман Арманов</p>
      </div>
      <div class="right">
        <input type="checkbox">
      </div>
    </li>
    <li>
        <div class="left">
            <img src="../../../assets/img/teacher-1.png">
            <p class="name">Арман Арманов</p>
          </div>
          <div class="right">
            <input type="checkbox">
          </div>
    </li>
    <li>
        <div class="left">
            <img src="../../../assets/img/teacher-1.png">
            <p class="name">Арман Арманов</p>
          </div>
          <div class="right">
            <input type="checkbox">
          </div>
    </li>
    <li>
        <div class="left">
            <img src="../../../assets/img/teacher-1.png">
            <p class="name">Арман Арманов</p>
          </div>
          <div class="right">
            <input type="checkbox">
          </div>
    </li>
  </ul>
</div>
</ion-content>
