<ion-header>
  <ion-toolbar>
    <div class="title-block">
      <ion-menu-button></ion-menu-button>
      <h4 class="page-title">Чат</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="messenger">
    <div class="content-all">
      <h3>Активные чаты</h3>
      <ul class="chats-list">
        <li>
          <a href="#">
            <!-- есть страница chat, при клике он должен открываться -->
            <div class="left">
            <img src="../../../assets/img/person-1.png">
            </div>
            <div class="right">
            <div class="chat-input">
                <h5 class="name">Руслан Жумабек</h5>
                <p class="sms">Человек-паук ван лав</p>
                <span class="time">11:00</span>
                <span class="number">3</span>
            </div>
            </div>
          </a>
      </li>
        <li>
          <a href="#">
              <div class="left">
                  <img src="../../../assets/img/person-1.png">
                  </div>
                  <div class="right">
                  <div class="chat-input">
                      <h5 class="name">Даурен Мухамедиев</h5>
                      <p class="sms">Человек-паук ван лав</p>
                      <span class="time">11:00</span>
                      <span class="number">3</span>
                  </div>
                  </div>
        </a>
      </li>
        <li><a href="#">
            <div class="left">
                <img src="../../../assets/img/profile-img.png">
                </div>
                <div class="right">
                <div class="chat-input">
                    <h5 class="name">Сымбат Маликайдар</h5>
                    <p class="sms">Человек-паук ван лав</p>
                    <span class="time">11:00</span>
                    <span class="number">3</span>
                </div>
                </div>
        </a></li>
        <li><a href="#">
            <div class="left">
                <img src="../../../assets/img/person-1.png">
                </div>
                <div class="right">
                <div class="chat-input">
                    <h5 class="name">Сымбат Маликайдар</h5>
                    <p class="sms">Человек-паук ван лав</p>
                    <span class="time">11:00</span>
                    <span class="number">3</span>
                </div>
                </div>
        </a></li>
        <li><a href="#">
            <div class="left">
                <img src="../../../assets/img/person-1.png">
                </div>
                <div class="right">
                <div class="chat-input">
                    <h5 class="name">Сымбат Маликайдар</h5>
                    <p class="sms">Человек-паук ван лав</p>
                    <span class="time">11:00</span>
                    <span class="number">3</span>
                </div>
                </div>
        </a></li>
        <li><a href="#">
            <div class="left">
                <img src="../../../assets/img/person-1.png">
                </div>
                <div class="right">
                <div class="chat-input">
                    <h5 class="name">Сымбат Маликайдар</h5>
                    <p class="sms">Человек-паук ван лав</p>
                    <span class="time">11:00</span>
                    <span class="number">3</span>
                </div>
                </div>
        </a></li>
      </ul>
    </div>
</ion-content>
