<ion-header>
  <ion-toolbar>
    <div class="title-block">
      <ion-menu-button></ion-menu-button>
      <h4 class="page-title">Чат</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="messenger">
    <div class="content-all">
      <h3>Активные чаты</h3>
      <ul class="chats-list" *ngIf="user && chats">
        <li *ngFor="let chat of chats">
          <a [routerLink]="['/chat/'+ chat.id]">
            <!-- есть страница chat, при клике он должен открываться -->
            <div class="left">
                <img src="{{ chat.image ? chat.image : '../../../assets/img/no-photo.png' }}">
            </div>
            <div class="right">
                <div class="chat-input">
                    <h5 class="name">{{ chat.name }}</h5>
                    <p class="sms">{{ chat.message }}</p>
<!--                    <span class="time">11:00</span>-->
<!--                    <span class="number">3</span>-->
                </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
</ion-content>
